<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="GameDB.Properties.Settings.GameDBConnectionString"
            connectionString= "RGF0YSBTb3VyY2U9MzQuODkuMTcyLjE1MztEYXRhYmFzZT1KYWNrVGhlR2hvc3RIdW50ZXI7VXNlcj1zcWxzZXJ2ZXI7UGFzc3dvcmQ9dGVzdDEyMzQ="
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>