<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="GameDB.Properties.Settings.GameDBConnectionString"
            connectionString= "Data Source=34.89.172.153;Database=JackTheGhostHunter;User=sqlserver;Password=test1234";
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>